[project]
	description = Fluent Java HTTP client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paul Polishchuk (longtimeago)
[access "refs/for/refs/*"]
	read = group user/Paul Polishchuk (longtimeago)
	push = group user/Paul Polishchuk (longtimeago)
	label-Code-Review = -2..+2 group user/Paul Polishchuk (longtimeago)
	label-Verified = -1..+1 group user/Paul Polishchuk (longtimeago)
	rebase = group user/Paul Polishchuk (longtimeago)
	removeReviewer = group user/Paul Polishchuk (longtimeago)
	submit = group user/Paul Polishchuk (longtimeago)
[access "refs/heads/*"]
	read = group user/Paul Polishchuk (longtimeago)
	create = group user/Paul Polishchuk (longtimeago)
	push = +force group user/Paul Polishchuk (longtimeago)
	pushMerge = group user/Paul Polishchuk (longtimeago)
[access "refs/tags/*"]
	push = +force group user/Paul Polishchuk (longtimeago)
	pushTag = group user/Paul Polishchuk (longtimeago)
	pushSignedTag = group user/Paul Polishchuk (longtimeago)
